################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/libsocks2c/v15/Browse.VC.opendb
/.vs/libsocks2c/v15/Browse.VC.db
/.vs/libsocks2c/v15/.suo
/.vs/launch.vs.json
/.vs/libsocks2c/v15/ipch/AutoPCH/83c79238ab5c602c/RUNCLIENT.ipch
/.vs/libsocks2c/v15/ipch/AutoPCH/83c79238ab5c602c
/.vs/libsocks2c/v15/ipch/AutoPCH/66d044e166901c2f/LIBSOCKS2C.ipch
/.vs/libsocks2c/v15/ipch/AutoPCH/66d044e166901c2f
/.vs/libsocks2c/v15/ipch/AutoPCH/58b99eb49131a3b3/MULTISERVERTESTWITHMULTIIO.ipch
/.vs/libsocks2c/v15/ipch/AutoPCH/58b99eb49131a3b3
/.vs/libsocks2c/v15/ipch/AutoPCH/4a1acefc3b7df44e/MULTISERVERTEST.ipch
/.vs/libsocks2c/v15/ipch/AutoPCH/4a1acefc3b7df44e
/.vs/libsocks2c/v15/ipch/AutoPCH/2abcc3f24c4124c6/MAIN.ipch
/.vs/libsocks2c/v15/ipch/AutoPCH/2abcc3f24c4124c6
/.vs/libsocks2c/v15/ipch/AutoPCH/219fb75364c8b792/BASIC_NETWORK_IO_MT.ipch
/.vs/libsocks2c/v15/ipch/AutoPCH/219fb75364c8b792
/.vs/libsocks2c/v15/ipch/AutoPCH
/.vs/VSWorkspaceState.json
/CMakeSettings.json
